* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
}

.main-title {
  margin-left: 1rem;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 5px;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  .main {
    background-image: url("../img/pokeball-wallpaper.png  ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
